# lambda exp,map,filter

In [7]:
def cube(num):
    return num**3

In [8]:
cube(2)

8

In [21]:
my_num=[1,2,3,4,5,6,7,8,9,10]

my problem is - i want to pass each and every individual item of the list of the list to the function as an argument and then store the result returned through the function in an list[]

In [22]:
my_num_cubes = []
for i in my_num:
    my_num_cubes.append(cube(i))

In [23]:
my_num_cubes

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [24]:
my_num_cubes = list(map (cube,my_num))

In [25]:
my_num_cubes

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

# filter

In [26]:
def check_even(num) :
    return num%2==0

In [27]:
check_even(4)

True

In [28]:
my_num

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

my problem is i want to filter out all the ojects which are satisfying the particular case in the function and the given functio and if the result is true add that object into the new_list

In [29]:
my_even_num = []
for i in my_num:
    if(check_even(i)):
        my_even_num.append(i)

In [30]:
my_even_num

[2, 4, 6, 8, 10]

In [32]:
my_new_even_num = list(filter(check_even,my_num))

In [33]:
my_new_even_num

[2, 4, 6, 8, 10]

# lambda functions

In [34]:
def square(num):
    result = num**2
    return result

In [35]:
square(2)

4

In [36]:
def square(num):
    return num**2

In [37]:
square(4)

16

In [38]:
def square (num) : return num**2

In [39]:
square(8)

64

# my problem is ....... for small scale functions in which i want to run a line exp. that to by keepimg in mind the design scense of the overalll program and minimizing the number of lines of codes and even for defining rapidly in a string line in ad-hoc situations

In [41]:
squ = lambda num : num**2

In [42]:
squ(6)

36

In [43]:
def check_odd(num):
    result = not num%2==0
    return result

In [44]:
check_odd_new = lambda num : not num%2==0

In [45]:
check_odd_new(4)

False

In [46]:
check_odd_new(9)

True

In [47]:
my_new_odd_num = list(filter(lambda num : not num%2==0,my_num))

In [48]:
my_new_odd_num

[1, 3, 5, 7, 9]

you are a director of a college,you want to reward all the students who got more than 85 marks in final exams, for ordering out the number of awards you need a final count , make a small python script in which you can use lambda exp, &filter method to get the count of students


given list of marks = 45,67,89,56,98,82,32,74,68,59,90,73

In [58]:
my_marks = [45,67,89,56,98,82,32,74,68,59,90,73]

In [62]:
result_final = list(filter(lambda output : output >85,my_marks))

In [63]:
result_final

[89, 98, 90]

# you are a director of a college,you want to grade student based out of their marks in the exam in a,b,c,d,e,fail solve the problem using map in python
90>= a <=100
80>= b <=89
70>= c <=79
60>= d <=69
50>= e <=59
0>= fail <=49
given list of marks = 45,67,89,56,98,82,32,74,68,59,90,73

In [64]:
marks = 45,67,89,56,98,82,32,74,68,59,90,73

In [65]:
def grades(num):
    if num >90:
        return 'a'
    elif num>80:
        return 'b'
    elif num>70:
        return 'c'
    elif num>60:
        return 'd'
    elif num>50:
        return 'e'
    elif num>0:
        return 'fail'

In [70]:
my_grades_list = list(map(grades,marks))

In [71]:
my_grades_list

['fail', 'd', 'b', 'e', 'a', 'b', 'fail', 'c', 'd', 'e', 'b', 'c']